@model IEnumerable<ClassLibrary.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Patients</h1>




<form asp-controller="DentalClinic" asp-action="Filter" method="post" enctype="multipart/form-data">
    <select name="FilterSelection">
        <option value="DPI" selected>DPI</option>
        <option value="Serial Number">Full name</option>
    </select>
    <input type="text" name="Search" />
    <input class="btn-info text-white" type="submit" value="Search" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="text-white bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastConsultation)
            </th>
            <th>
                @Html.ActionLink("NextConsultation", "NextConsultationFilter")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastConsultation)
                </td>
                <td>
                    @{
                        if (item.NextConsultation != default)
                            @Html.DisplayFor(modelItem => item.NextConsultation);
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentDescription)
                </td>

            </tr>
        }

    </tbody>
</table>
